#bouton-selectable .ui-selected {
	background: #009E0F;
	color: white;
}
#bouton-selectable {
	list-style-type: none;
	margin: auto;
	padding: 0;
	width: 50%;
}
#bouton-selectable li {
	text-align: center;
	margin: 9px;
	padding: 0.4em;
	font-size: 2em;
	height: 60px;
	border-color: #666666;
	border-radius: 10px;
}

#menu{
	width: 720px;
}
#menu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:60px;
	text-transform:uppercase;
	font-size:14px;
	background:#2B78E4;
	font-family: 'Earthbound',Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#menu li{
	display:block;
	float:left;
	margin:0;
	pading:0;
	border-right:1px solid #ffffff;
	}
#menu li a{
	display:block;
	float:left;
	color:#ffffff;
	text-decoration:none;
	padding:12px 20px 0 20px;
	height:60px;
	}
#menu li a:hover{
	background:	#2B78E4;
	border-radius: 10px;
	}