#selectable .ui-selected {
	background: #009E0F;
	color: white;
}
#selectable {
	list-style-type: none;
	margin: auto;
	padding: 0;
	width: 80%;
}
#selectable li {
	text-align: center;
	margin: 10px;
	padding: 4px;
	font-size: 35px;
	height: auto;
	border-color: #666666;
	border-radius: 10px;
}
#page {
	font-family: 'Earthbound', Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 60px;
	text-transform: uppercase;
	font-size: 14px;
	background: #2B78E4;
}
#menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #ffffff;
}
#menu li:last-child {
	border-right: none;
}
#menu li a {
	display: block;
	float: left;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 10px 0 10px;
	height: 60px;
}
#menu li a:hover {
	background: #2B78E4;
	border-radius: 10px;
}

h1 {
	text-align: center;
	font-size: 40px;
}

img.logo {
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 300px;
	height: 300px;
}
div.tps {
	position: absolute;
	right: 10px;
	background-color: rgb(238,238,238);
	border-width: 1px;
	border-color: rgb(102,102,102);
	border-style: solid;
	text-align: center;
	padding: 5px;
}
input.bouton {
	margin: 7%;
	width: 255px;
	height: 60px;
	font-size: 40px;
	text-align: center;
	background: rgb(43,120,228);
	color: white;
	border-width: 1px;
	border-color: rgb(102,102,102);
}
input.bouton:active {
	background: rgb(149,188,242);
	color: white;
}

.boutonCenter{
        margin-top: 7%;
        margin-bottom: 7%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    	width: 255px;
	height: 60px;
	font-size: 40px;
	text-align: center;
	background: rgb(43,120,228);
	color: white;
	border-width: 1px;
	border-color: rgb(102,102,102);
}
