@font-face {
    font-family: 'pacayamedium';
    src: url('pacaya-webfont.eot');
    src: url('pacaya-webfont.eot?#iefix') format('embedded-opentype'),
		url('pacaya-webfont.woff') format('woff'),
		url('pacaya-webfont.ttf') format('truetype'),
		url('pacaya-webfont.svg#pacayamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 */
}

.checkB input[type="checkbox"] {
	display:none; 
}
.checkB input[type="checkbox"]:checked + label { 
	background-color: #009E0F;
	color: white;

}

.checkB label {
	display: block;
	border-style :solid;
	border-width: 1px;
	border-color: #666666;
	border-radius: 10px;
	background-color: white;
	height: 100%;
	font-size: 35px;
	width: 576px;
	color: black;
	text-align: center;
	margin: 5px;
	padding: 4px;	
	margin-left: auto;
	margin-right: auto;
}

#page {
	font-family: 'pacayamedium', Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 60px;
	text-transform: uppercase;
	font-size: 16px;
	background: #2B78E4;
}
#menu li {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 0px;
	border-right: 1px solid #ffffff;
}
#menu li:last-child {
	border-right: none;
}
#menu li:last-child a:hover {
	background: none;
	color: black;
}
#menu li a {
	display: block;
	float: left;
	color: #ffffff;
	text-decoration: none;
	padding: 17px 10px 0 10px;
	height: 60px;
}
#menu li a:hover {
	color: black;
	height : 49px;
	border-radius: 10px;
}

h1 {
	text-align: center;
	font-size: 40px;
}

img.logo {
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 300px;
	height: 300px;
}
div.tps {
	position: absolute;
	right: 10px;
	background-color: rgb(238,238,238);
	border-width: 1px;
	border-color: rgb(102,102,102);
	border-style: solid;
	text-align: center;
	padding: 5px;
}
input.bouton {
        margin: 7%;
	width: 255px;
	height: 60px;
	font-size: 50px;
	font-family: 'pacayamedium', Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	background: rgb(43,120,228);
	color: white;
	border-width: 1px;
	border-color: rgb(102,102,102);
	-webkit-appearance: none;
}
input.bouton:active {
	background: rgb(149,188,242);
	color: white;
}

.boutonCenter{
	margin-top: 10px;
	margin-bottom: 7%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 60px;
	font-size: 50px;
	font-family: 'pacayamedium', Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	background: rgb(43,120,228);
	color: white;
	border-width: 1px;
	border-color: rgb(102,102,102);
	-webkit-appearance: none;
}

.radioButtons input[type="radio"] {
	display:none; 
}

.radioButtons label {
	display: table-cell;
	padding: 20px 5px 20px 0px;
	font-size:20px;
	background-color: rgb(221, 221, 221);
	width: auto;
	min-width: 80px;
	float: left;
}

.radioButtons input[type="radio"]:checked + label { 
	background-color: rgb(149,188,242);
}

.radioButtons {
	display: table;
	vertical-align: 50%;
	text-align: center;

	border: 1px solid rgb(102, 102, 102);
	/*position: absolute;*/
}

.rightRadioButton label {
	vertical-align: 50%;
	font-size: 20px;
	margin-left: 0px;
	border-left: 1px solid rgb(102, 102, 102);
}

.liste {
	border-collapse: collapse;
	text-align: center;
}

.liste , .liste tr , .liste td {
	border: 1px solid rgb(102, 102, 102);
}

.liste tr {
	height: 2em;
}

.liste th {
	background-color: rgb(204, 204, 204);
	border: 1px solid rgb(102, 102, 102);
}

.listeScrollable tbody {
	display:block;
	overflow:auto;
	height:10em;
}

.listeScrollable thead {
	display:block;
}

.scroll{
    min-height: 60px;
    height:160px;
    min-width: 60px;
    width: 470px;
    overflow: auto;
}

.border,.border td,.border tr{
	border: 1px solid black;
	border-collapse: collapse;
}

.identifiant{
    width: 150px;
    text-align: center;
}

.nom{
    width: 70px;  
}

.prenom{
    width: 70px;
}

.admin{
    width: 70px;
}

.supprimer{
    width: 70px;
}

input.boutonMAJ {
        margin-top: 10px;
        margin-bot: 10px;
        margin-left: 20%;
	width: auto;
	height: 60px;
	font-size: 50px;
	font-family: 'pacayamedium', Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	background: rgb(43,120,228);
	color: white;
	border-width: 1px;
	border-color: rgb(102,102,102);
	-webkit-appearance: none;
}

input.boutonPetit {
	margin: 1%;
	width: 125px;
	height: 30px;
	font-size: 17px;
	font-family: 'pacayamedium', Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	background: rgb(43,120,228);
	color: white;
	border-width: 1px;
	border-color: rgb(102,102,102);
	-webkit-appearance: none;
}
input.boutonPetit:active {
	background: rgb(149,188,242);
	color: white;
}
